{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": ["> 1%", "Chrome > 60", "Firefox > 60", "not ie <= 10"]
        },
        "useBuiltIns": false
      }
    ]
  ],
  "ignore": [
    "assets/CodeMirror/addon/*/*.js",
    "assets/CodeMirror/mode/*/*.js"
  ]
}
